h1 {
  
  font-family: Lucida Handwriting;
  text-align: center;
  line-height: 3;
  color: white;
}

* {
    margin: auto;
    padding: auto;
}

.background-image {
    background-image: url('Images/Background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
 
