*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body
{
    background-image: url(Images/Mainpp.jpg);
    background-size: cover;
    position: sticky;
    background-position: center;
    box-sizing: border-box;
    font-family: Lucida Handwriting;
    color: rgb(7, 4, 4);
    }
    
    .menu-bar {
        background-color: rgb(203, 166, 106);
        text-align: center;
    }
    .logogo {
        display: flex;
        align-items: center;
        justify-items: first baseline;
        padding: 5px 10%; 
    }
    .logo {
        height: 100px;
        width: 100px;
        left: -150px;
        position: relative;
        cursor: pointer;
    }
 
    .menu-bar ul {
        display: inline-flex;
        list-style: none;
        color: #ffff;
        margin-left:  150px;
    }
    
    .menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;

    }
    .menu-bar ul li a {
        text-decoration: none;
        color: #ffff;
    }
    .active, menu-bar ul li:hover {
        background: rgb(203, 166, 106);
        border-radius: 20px;
    }
    .sub-menu-1 {
        display: none;
    }
    .menu-bar ul li:hover .sub-menu-1 {
        display: block;
        position: absolute;
        background: rgb(203, 166, 106);
        margin-top: 15px;
        margin-left: -15px;
    }
    .menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
    }
    .menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
    }
    .menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
    }
    .menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: black;
    }
    .sub-menu-2 {
        display: none;
    }
    .menu-bar ul li:hover .sub-menu-2 {
        display: block;
        position: absolute;
        background: rgb(203, 166, 106);
        margin-top: 15px;
        margin-left: -15px;
    }
    .menu-bar ul li:hover .sub-menu-2 ul {
    display: block;
    margin: 10px;
    }
    .menu-bar ul li:hover .sub-menu-2 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
    }
    .menu-bar ul li:hover .sub-menu-2 ul li:last-child {
    border-bottom: none;
    }
    .menu-bar ul li:hover .sub-menu-2 ul li a:hover {
    color: black;
    }
    .sub-menu-3 {
    display: none;
    }
    .menu-bar ul li:hover .sub-menu-3 {
        display: block;
        position: absolute;
        background: rgb(203, 166, 106);
        margin-top: 15px;
        margin-left: -15px;
    }
    .menu-bar ul li:hover .sub-menu-3 ul {
    display: block;
    margin: 10px;
    }
    .menu-bar ul li:hover .sub-menu-3 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
    }
    .menu-bar ul li:hover .sub-menu-3 ul li:last-child {
    border-bottom: none;
    }
    .menu-bar ul li:hover .sub-menu-3 ul li a:hover {
    color: black; 
    }
    .sub-menu-4 {
        display: none;
    }
    .menu-bar ul li:hover .sub-menu-4 {
        display: block;
        position: absolute;
        background: rgb(203, 166, 106);
        margin-top: 15px;
        margin-left: -15px;
    }
    .menu-bar ul li:hover .sub-menu-4 ul {
    display: block;
    margin: 10px;
    }
    .menu-bar ul li:hover .sub-menu-4 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
    }
    .menu-bar ul li:hover .sub-menu-4 ul li:last-child {
    border-bottom: none;
    }
    .menu-bar ul li:hover .sub-menu-4 ul li a:hover {
    color: black; 
    }

